button {
  background-color: #ff70c8;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 6px 6px;
  font-size: 1em;
  cursor: grab;
  transition: background 0.2s;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

/* Hover effect for all buttons */
button:hover {
  background-color: #003377;
}

/* Special style for increment button */
button#increment {
  border-radius: 50px;
  padding: 12px 12px;
  font-size: 2em;
}

body {
  background-color: #fff0f9;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
